/* Resetting default margin/padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #fff;
    color: rgb(0, 0, 0);
  }

  /* Header styles */
  header {
    background-color: #082f4b;
    color: #fff;
    padding: 20px 20px;
  }

  header a:link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
  }
  
  header a:visited {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
  }
  
  header a:hover {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
  }
  
  header a:active {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
  }
  
  .navigation {
    list-style: none;
    float: right;
    display: inline;
    margin-top: -39px; /* Adjust as needed to move the navigation bar up */
  }
  
  .navigation li {
    display: inline; /* Display list items as inline */
  }

  
  .navigation a {
    color: #fff;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .navigation a:hover {
    background-color: #20435d;
    font-weight:bold;
  }

  
  /* Main content styles */
  main {
    padding: 20px;
  }

 
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .about-section {
    padding: 20px 0;
    background-color: #ffffff;
  }

  .about-section h2 {
    color: #063e66;
  }
  

  .statements-section {
    padding: 20px 0;
  }
  

  .articles-section {
    padding: 20px 0;
  }
  
  .article {
    border: 1px solid #949494;
    padding: 10px;
    background-color: #f3f3f3;
    margin-bottom: 30px;
    color: #1f1f1f;
  }
  
  h3 {
    color: #063e66;
    margin-bottom: 10px;
  }

  h4 {
    color: #063e66;
    margin-bottom: 10px;
  }
  
  .article-details {
    color: #063e66;
    margin-bottom: 5px;
  }
  
  /* Footer styles */
  footer {
    background-color: #082f4b;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
  }

  footer a:link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
  }
  
  footer a:visited {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
  }
  
  footer a:active {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
  }

  a:link {
    color: #063e66;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #063e66;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #063e66;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #063e66;
    background-color: transparent;
    text-decoration: underline;
  }

  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  .button {
    font-size:  medium;
    display: inline-block;
    padding: 10px 13px; /* Adjust padding as needed */
    background-color: #082f4b; /* Default background color */
    color: #fff; /* Default text color */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.5s ease; /* Smooth transition */
    font-family: 'Poppins', Arial, sans-serif;
    border-radius: 10px;
  }

  .button .hover {
    display: inline-block;
    padding: 10px 13px; /* Adjust padding as needed */
    background-color: #20435d; /* Default background color */
    color: #fff; /* Default text color */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.5s ease; /* Smooth transition */
    font-family: 'Poppins', Arial, sans-serif;
    border-radius: 10px;
  }










 
  .filter li {
    display: inline-flex; /* Display list items as inline */
  }

  
  .filter a {
    background-color: #fff;
    text-decoration: none;
    padding: 8px 8px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    
  }
  
  .filter a:hover {
    background-color: #20435d;
    color: #fff;
    font-weight:bold;
  }

  
