/* Resetting default margin/padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #fff;
    color: rgb(0, 0, 0);
  }

  /* Header Rules */
  header {
    background-color: #082f4b;
    color: #fff;
    padding: 20px 20px;
  }

  header img{
    float:inline-start;
    margin-top: -5px;
    margin-right: 10px;
  }

  header a:link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
  }
  
  header a:visited {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
  }
  
  header a:hover {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
  }
  
  header a:active {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
  }
  
  .navigation {
    list-style: none;
    float: right;
    display: inline;
    margin-top: -39px; /* Adjust as needed to move the navigation bar up */
  }
  
  .navigation li {
    display: inline; /* Display list items as inline */
  }

  
  .navigation a {
    color: #fff;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .navigation a:hover {
    background-color: #20435d;
    font-weight:bold;
  }

  
  /* Main content styles */
  main {
    padding: 20px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .about-section {
    padding: 20px 0;
    background-color: #ffffff;
  }

  .about-section h2 {
    color: #063e66;
  }
  

  .statements-section {
    padding: 20px 0;
  }
  

  .articles-section {
    padding: 20px 0;
  }
  
  .article {
    border: 1px solid #949494;
    padding: 10px;
    background-color: #f3f3f3;
    margin-bottom: 30px;
    color: #1f1f1f;
  }

  .article-details {
    color: #063e66;
    margin-bottom: 5px;
  }


  /* Heading Rules */
  h1 {
    color: #063e66;
  }

  h2 {
    color: #063e66;
  }

  h3 {
    color: #063e66;
    margin-bottom: 10px;
  }

  h4 {
    color: #063e66;
    margin-bottom: 10px;
  }
  
  /* Footer Rules */
  footer {
    background-color: #082f4b;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
  }

  footer a:link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
  }
  
  footer a:visited {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
  }
  
  footer a:active {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
  }

  /* Link Rules */
  a:link {
    color: #063e66;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #063e66;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #063e66;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #063e66;
    background-color: transparent;
    text-decoration: underline;
  }
  

  /* Column Rules */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Highlighted Text Rules */
  mark {
    background-color: #B4CBDB;
    color: black;
  }





  #myBtn {
    position: fixed;
    bottom: 70px;
    right: 25px;
    z-index: 99;
    border: none; /* Remove borders */
    background-color: #082f4b; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #063e66; /* Add a dark-grey background on hover */
  }
